.button {
  padding: 0.25rem 1rem;
  background-color: transparent;
  font-size: 01rem;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
