.gameProvider {
  height: 100%;

  .header {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 0.25rem;

    .left {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .right {
      .closeIcon {
        color: white;
      }
    }

    .searchListIcon {
      width: 32px;
      height: 32px;
    }

    .tag {
      border: 1px solid white;
      padding: 0 0.75rem;
      border-radius: 1rem;
      font-size: 0.9rem;
    }
  }

  .gameProviderList {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    gap: 1rem;
    height: calc(100% - 40px - 2rem);
    overflow-y: auto;

    .gameProviderItem {
      width: 47.5%;
      background-color: #eee;

      img {
        width: 100%;
      }
    }
  }
}
